Repository cordada/lib-cl-sii-python, pull requests merged in 2019-05, with the labels that each got.

#34 docs: Fix `bumpversion` command
  docs/project-maintenance.rst
Labels: bug

#35 libs.tz_utils: minor improvements
  cl_sii/libs/tz_utils.py
  cl_sii/rcv/parse.py
  tests/test_libs_tz_utils.py
Labels: enhancement

#36 libs.crypto_utils: add functions
  cl_sii/libs/crypto_utils.py
  tests/test_libs_crypto_utils.py
Labels: feature

#37 dte.data_models: alter field `DteDataL2.firma_documento_dt_naive`
  cl_sii/dte/data_models.py
  cl_sii/dte/parse.py
  tests/test_dte_data_models.py
  tests/test_dte_parse.py
Labels: component: dte, enhancement

#38 dte.data_models: alter field `DteDataL2.signature_x509_cert_pem`
  cl_sii/dte/data_models.py
  cl_sii/dte/parse.py
  tests/test_dte_data_models.py
  tests/test_dte_parse.py
Labels: component: dte, enhancement

#39 Release v0.6.0
  .bumpversion.cfg
  HISTORY.rst
  cl_sii/__init__.py
  cl_sii/dte/data_models.py
  cl_sii/dte/parse.py
  cl_sii/libs/crypto_utils.py
  cl_sii/libs/tz_utils.py
  cl_sii/rcv/parse.py
  docs/project-maintenance.rst
  tests/test_data/crypto/wildcard-google-com-cert.der
  tests/test_data/sii-crypto/DTE--76354771-K--33--170-cert.der
  tests/test_data/sii-crypto/DTE--76399752-9--33--25568-cert.der
  tests/test_data/sii-crypto/prueba-sii-cert.der
  tests/test_dte_data_models.py
  tests/test_dte_parse.py
  tests/test_libs_crypto_utils.py
  tests/test_libs_tz_utils.py
Labels: kind: release

#40 dte.data_models: fix bug in `DteDataL2`
  cl_sii/dte/data_models.py
  tests/test_dte_data_models.py
Labels: bugfix, component: dte

#41 Release v0.6.1
  .bumpversion.cfg
  HISTORY.rst
  cl_sii/__init__.py
  cl_sii/dte/data_models.py
  tests/test_dte_data_models.py
Labels: kind: release

#44 dte.parse: fix edge case in `parse_dte_xml`
  cl_sii/dte/parse.py
  tests/test_data/sii-dte/DTE--76354771-K--33--170--cleaned-mod-empty-emails.xml
  tests/test_dte_parse.py
Labels: bugfix, component: dte

#45 libs.encoding_utils: improve `clean_base64`
  cl_sii/libs/encoding_utils.py
Labels: enhancement

#46 Release 0.6.2
  .bumpversion.cfg
  HISTORY.rst
  cl_sii/__init__.py
  cl_sii/dte/parse.py
  cl_sii/libs/encoding_utils.py
  tests/test_data/sii-dte/DTE--76354771-K--33--170--cleaned-mod-empty-emails.xml
  tests/test_dte_parse.py
Labels: component: dte, component: libs, kind: release

#48 dte.data_models: add `DteDataL2.as_dte_data_l1`
  cl_sii/dte/data_models.py
  tests/test_dte_data_models.py
Labels: component: dte, feature

#49 libs.mm_utils: add `validate_no_unexpected_input_fields`
  cl_sii/libs/mm_utils.py
  tests/test_libs_mm_utils.py
Labels: component: libs, feature

#50 libs: add module `csv_utils`
  cl_sii/libs/csv_utils.py
  tests/test_libs_csv_utils.py
Labels: component: libs, feature

#51 libs: add module `rows_processing`
  cl_sii/libs/rows_processing.py
  tests/test_libs_rows_processing.py
Labels: component: libs, feature

#52 rcv: add module `parse_csv`
  cl_sii/rcv/parse_csv.py
  tests/test_rcv_parse_csv.py
Labels: component: rcv, feature

#53 Release v0.6.3
  .bumpversion.cfg
  HISTORY.rst
  cl_sii/__init__.py
  cl_sii/dte/data_models.py
  cl_sii/libs/csv_utils.py
  cl_sii/libs/mm_utils.py
  cl_sii/libs/rows_processing.py
  cl_sii/rcv/parse_csv.py
  scripts/example.py
  tests/test_dte_data_models.py
  tests/test_libs_csv_utils.py
  tests/test_libs_mm_utils.py
  tests/test_libs_rows_processing.py
  tests/test_rcv_parse_csv.py
Labels: kind: release

#54 libs: add module `dataclass_utils`
  cl_sii/libs/dataclass_utils.py
  tests/test_libs_dataclass_utils.py
Labels: component: libs, feature

#55 libs.xml_utils: add `verify_xml_signature`
  cl_sii/libs/xml_utils.py
  tests/test_data/xml/trivial-doc.xml
  tests/test_libs_xml_utils.py
Labels: component: libs, feature

#56 Release v0.6.4
  .bumpversion.cfg
  .circleci/config.yml
  HISTORY.rst
  cl_sii/__init__.py
  cl_sii/libs/dataclass_utils.py
  cl_sii/libs/xml_utils.py
  requirements/release.txt
  requirements/test.txt
  tests/test_data/xml/trivial-doc.xml
  tests/test_libs_dataclass_utils.py
  tests/test_libs_xml_utils.py
  tox.ini
Labels: kind: release

#57 libs.xml_utils: minor fix to `verify_xml_signature`
  cl_sii/libs/xml_utils.py
  tests/test_libs_xml_utils.py
Labels: bugfix, component: libs

#58 Release v0.6.5
  .bumpversion.cfg
  HISTORY.rst
  cl_sii/__init__.py
  cl_sii/libs/xml_utils.py
  tests/test_libs_xml_utils.py
Labels: kind: release

#59 rcv.parse_csv: add `parse_rcv_compra_X_csv_file`
  cl_sii/dte/parse.py
  cl_sii/rcv/__init__.py
  cl_sii/rcv/parse.py
  cl_sii/rcv/parse_csv.py
  tests/test_rcv.py
  tests/test_rcv_parse.py
  tests/test_rcv_parse_csv.py
Labels: component: rcv, feature
