Repository cordada/lib-cl-sii-python, pull requests merged in 2020-02, with the labels that each got.

#98 requirements: several updates
  requirements/base.txt
  requirements/extras.txt
  requirements/release.txt
  requirements/test.txt
  setup.py
Labels: dependencies, task

#99 Release v0.8.3
  .bumpversion.cfg
  HISTORY.rst
  cl_sii/__init__.py
  cl_sii/extras/mm_fields.py
  requirements/base.txt
  requirements/extras.txt
  requirements/release.txt
  requirements/test.txt
  setup.py
  tests/test_extras_mm_fields.py
Labels: kind: release

#100 Update everything for Fyntex, the new owner
  LICENSE
  README.rst
  cl_sii/contribuyente/constants.py
  cl_sii/dte/constants.py
  cl_sii/rcv/constants.py
  cl_sii/rut/constants.py
  docs/project-maintenance.rst
  setup.py
Labels: task

#101 Release v0.8.4
  .bumpversion.cfg
  HISTORY.rst
  LICENSE
  README.rst
  cl_sii/__init__.py
  cl_sii/contribuyente/constants.py
  cl_sii/dte/constants.py
  cl_sii/rcv/constants.py
  cl_sii/rut/constants.py
  docs/project-maintenance.rst
  setup.py
Labels: kind: release

#103 cte: Add custom validators and deserializers to parser
  cl_sii/cte/f29/parse_datos_obj.py
Labels: component: cte, feature

#97 cte: Allow four digit Form 29 codes
  cl_sii/cte/f29/data_models.py
  cl_sii/data/cte/schemas-json/f29_datos_obj.schema.json
  tests/test_cte_f29_parse_datos_obj.py
  tests/test_data/sii-cte/f29/cte--6286736-1--f29-6700000056-datos-obj-fake.json
Labels: bugfix, component: cte

#104 cte.f29.parser: Rename custom validator and deserializer parameters
  cl_sii/cte/f29/parse_datos_obj.py
  tests/test_cte_f29_parse_datos_obj.py
Labels: component: cte, feature
