Repository cordada/lib-cl-sii-python, pull requests merged in 2021-04, with the labels that each got.

#208 rtc.data_models_aec: remove match validation for 'fecha_firma_dt' and 'fecha_cesion_dt'
  cl_sii/rtc/data_models_aec.py
  tests/test_rtc_data_models_aec.py
Labels: bugfix, component: rtc

#210 rtc.data_models_aec: remove validation for the progression of 'monto_cesion' across the 'cesiones'
  cl_sii/rtc/data_models_aec.py
  tests/test_rtc_data_models_aec.py
Labels: bug, component: rtc

#212 config: Update Python version used in CI jobs to 3.8.9
  .circleci/config.yml
Labels: component: config, feature

#214 Release v0.12.4
  .bumpversion.cfg
  .circleci/config.yml
  HISTORY.rst
  cl_sii/__init__.py
  cl_sii/rtc/data_models_aec.py
  requirements/base.txt
  requirements/extras.txt
  requirements/release.txt
  requirements/test.txt
  setup.py
  tests/test_rtc_data_models_aec.py
Labels: kind: release

#216 docs: Add creation of release branch to instructions for new releases
  docs/project-maintenance.rst
Labels: docs
