Repository cordada/lib-cl-sii-python, pull requests merged in 2025-08, with the labels that each got.

#848 rcv: Add RcTipoCompra enum to represent "Tipo de Compra" in RCV
  src/cl_sii/rcv/constants.py
  src/tests/test_rcv_constants.py
Labels: enhancement, component: rcv

#853 rcv: Extend RcTipoCompra enum with new purchase types
  src/cl_sii/rcv/constants.py
  src/tests/test_rcv_constants.py
Labels: enhancement, component: rcv, x-acct-type-dev-cap

#854 Release v0.51.0
  .bumpversion.cfg
  HISTORY.md
  src/cl_sii/__init__.py
Labels: task, kind: release

#856 Update Dependabot configuration
  .github/dependabot.yml
Labels: task

#858 rut: Constant `RUT_DIGITS_MIN_VALUE` should be for the whole range of RUTs
  src/cl_sii/rut/constants.py
  src/tests/test_rut_constants.py
Labels: bug, component: rut

#865 Release v0.52.0
  .bumpversion.cfg
  HISTORY.md
  src/cl_sii/__init__.py
Labels: task, kind: release
